html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.titleSection h3 {
  text-align: center;
  color: rgb(180, 179, 179);
  margin: 20px;
  text-shadow: 1px 1px 1px whitesmoke;
}

.titleSelection {
  background-color: white;
}

#moreSources {
  background: #5ec7d4;
  padding: 5rem 0;
  text-align: right;
}

#moreSources h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3.375rem;
  margin: 0rem;
}
#moreSources h4 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#moreSources .button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  background: #fff;
  color: #5ec7d4;
  border: 2px solid #fff;
  border-radius: 3px;
}

#moreSources .outline {
  background: transparent;
  color: #fff;
}
#moreSources button:hover {
  background: #808080;
  border: 1px solid #808080;
  color: #fff;
}

.sources {
  margin-left: 0;
}

a {
  text-decoration: none;
  color: light;
}

a:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: #808080;
}
