#topicSection,
#wordSection {
  height: 400px;
  background-color: #dcf394;
}

#carousel-area-top {
  position: absolute;
  top: 330px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #dcf394;
}
#carousel-area-bottom {
  position: absolute;
  top: 800px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #dcf394;
}

.carousel-top,
.carousel-bottom {
  margin-left: 40px;
  margin-right: 40px;
}

#arrow-left-top,
#arrow-left-bottom {
  transform: rotate(-225deg);
}
#arrow-right-top,
#arrow-right-bottom {
  transform: rotate(-45deg);
}

.arrows-top,
.arrows-bottom {
  display: none;
  border-right: 10px solid lightgrey;
  border-bottom: 10px solid lightgrey;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 160px;
}

.item,
.wordItem {
  float: left;
}

.card,
.wordCard {
  background: lightgrey;
  border: 3px solid whitesmoke;
  width: 300px;
  height: 250px;
  margin: 10px;
  padding-top: 50px;
  text-align: center;
}

.card,
.wordCard h2 {
  color: white;
  text-shadow: 1px 1px 1px darkgray;
}

img {
  width: 200px;
  border: 2px solid #808080;
  margin-bottom: 20px;
}
